html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
		link(rel='stylesheet', href='/static/styles.css')
	body
		#root

	script.
		window.__INITIAL_STATE__ = !{JSON.stringify(initialState)}
	script(type='text/javascript', src='/static/vendor.bundle.js')
	script(type='text/javascript', src='/static/bundle.js')